<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

</head>
<body>
<table border="1">
    <tr>
        <th>Title</th>
        <th>ISBN</th>
        <th>Author</th>
    </tr>
    <tr th:each="book, state : ${bookList}"
        class="row" th:classappend="${state.odd} ? 'odd-row' : 'even-row'">
        <td th:utext="${book.title}">Title</td>
        <td th:utext="${book.isbn}">ISBN</td>
        <td th:utext="${book.author}">Author</td>
    </tr>
</table>
</body>
</html>